body {
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(196, 95, 117);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

button:hover {
  background: #434343;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

/* NAV BAR STYLING */

#nav-bar {
  /* background: rgb(196, 95, 117); */
  height: 5.5em;
  text-align: center;
}

nav {
  text-align: center;
}

nav a {
  display: inline-flex;
  padding: 1.5em;
  font-size: 14px;
  letter-spacing: 0.15em;
  color: black;
  text-transform: uppercase;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ALL PRODUCTS PAGE STYLING */

.all-products-page {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.all-products-page a:visited {
  color: black;
}

.single-product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 2rem;
  margin: 2rem;
  -webkit-box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
  -moz-box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
  box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
}

.single-product-card img {
  height: 175px;
}

/* SINGLE PRODUCT PAGE STYLING */

.single-product-page {
  margin: 5rem;
  display: flex;
  justify-content: center;
}

.single-product-details {
  margin-left: 6rem;
  width: 30%;
}

.single-product-page img {
  width: 200px;
  padding: 3rem;
  max-width: 500px;
  -webkit-box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
  -moz-box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
  box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
}

/* CART STYLING */

.cart-page {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-container {
  width: 500px;
  margin: 1rem;
  padding: 3rem;
  -webkit-box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
  -moz-box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
  box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .cart-image {
  margin-right: 1rem;
} */

.cart-image img {
  width: 100px;
}

.cart-details {
  margin-left: 3rem;
  padding: 1rem;
}

.cart-quantity {
  display: flex;
}

/* CHECKOUT PAGE STYLING */

.checkout-page {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-container {
  width: 500px;
  margin: 1rem;
  padding: 3rem;
  -webkit-box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
  -moz-box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
  box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
  justify-content: center;
}

.checkout-section {
  margin: 1rem;
  padding: 1rem;
}

.form-input {
  margin-bottom: 1rem;
}

/* GENERIC PAGE STYLING */

.page-container {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FORM STYLING */

.form {
  padding: 1rem;
}

/* ORDER HISTORY */

.old-order-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.order-history-page {
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-history-container {
  width: 500px;
  margin: 1rem;
  padding: 3rem;
  -webkit-box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
  -moz-box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
  box-shadow: -3px 11px 32px 0px rgba(209, 209, 209, 1);
}

.order-history-item {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.order-history-details {
  margin-left: 3rem;
  padding: 1rem;
}

.order-history-img {
  padding-left: 60px;
  padding-right: 60px;
}
